
body {
    margin: 10px;
    background: #444;
    font: 1.2em sans-serif;
}

svg {
    background: #444;
}

#ageselect {
    float:left;
}

#data_div {
    width: 20em;
    margin: -20em 0 0 20em;
    color: #fff;
}

#legend {}

#table {}

.lan {
    letter-spacing:-0.06em;
    font-size:1.5em;
    font-weight:bold;
    float:left;
    width:100%;
}

.datum {
    font-size:0.9em;
    font-weight:lighter;
    float:left;
}


/* .map path {stroke: #000;
stroke-width: 1px} */
